
/* -------------Main------------ */

/* 首圖動畫區 */

.kv {
    background-image: url(../img/bgi-frontpage-top.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1100px;
    margin: 80px auto 0 auto;
    padding-bottom: 120px;
    position: relative;
}

.kv .imgL {
    width: 340px;
    margin-top: 20px;
    position: absolute;
    left: 4%;
    top: 0;
    animation: imgL 3s infinite;
}

.kv .imgR {
    width: 380px;
    margin-top: 30px;
    position: absolute;
    right: 4%;
    top: 0;
    animation: imgR 3s .5s infinite;
}

@keyframes imgL {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes imgR {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0)
    }
}

.kv_text {
    padding-top: 50px;
    flex-grow: 1;
}

.kv h1 {
    font-size: 55px;
    letter-spacing: 7px;
    font-family: 'Zen Antique', serif;
    text-align: center;
}

.kv h2 {
    font-size: 32px;
    font-family: 'Zen Antique', serif;
    text-align: center;
}

.kv h3 {
    font-size: 68px;
    letter-spacing: 10px;
    font-family: 'Zen Antique', serif;
    text-align: center;
}

/* ------------最新消息------------ */
.news {
    background-color: #F5F4F1;
    border-radius: 10px;
    max-width: 1100px;
    margin: 20px auto 10px auto;
    padding-bottom: 32px;
}

/* 最新消息-上方小icon與文字 */
.news_top_text {
    display: flex;
    padding-top: 24px;
    padding-left: 8px;
}

.news_top_text h2 {
    color: #634F45;
    line-height: 40px;
    margin-left: 8px;
}

.news_top_text p a {
    display: block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    background-color: #634F45;
    color: white;
    text-align: center;
    padding: 3px 5px;
    border-radius: 10px;
    margin-left: 16px;
}

.news_top_text p a:hover {
    background-color: #8F7963;
}

/* 最新消息-中間圖文區域 */
.news_main {
    display: flex;
    justify-content: center;
    margin: 24px auto;
}

.news_main img {
    width: 400px;
    border-radius: 10px;
}

.news_text {
    margin-left: 56px;
    position: relative;
}

.news_text h3 {
    color: #634F45;
    margin-bottom: 32px;
}

.news_text p {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.news_text a {
    color: #634F45;
    font-size: 14px;
    display: block;
    width: 45px;
    height: 28px;
    background-color: #F0F0F0;
    text-align: center;
    line-height: 28px;
    padding: 2px 5px;
    border-radius: 8px;
    position: absolute;
    top: 65%;
    right: 0;
}

.news_text a:hover {
    color: white;
    background-color: #B1B1B1;
}

.swiper {
    max-width: 1100px;
    height: 320px;
}

:root {
    --color: #634F45;
}

.swiper-pagination-bullet {
    background: var(--color) !important;
}

/* ------------活動資訊-------------- */
.activity {
    border-radius: 10px;
    max-width: 1100px;
    margin: 20px auto 10px auto;
    padding-bottom: 10px;
}

/* 活動資訊-上方小icon與文字 */
.activity_top_text {
    display: flex;
    padding-top: 24px;
    padding-left: 8px;
}

.activity_top_text h2 {
    color: #634F45;
    line-height: 40px;
    margin-left: 8px;
}

.activity_top_text p a {
    display: block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    background-color: #634F45;
    color: white;
    text-align: center;
    padding: 3px 5px;
    border-radius: 10px;
    margin-left: 16px;
}

.activity_top_text p a:hover {
    background-color: #8F7963;
}

/* 活動資訊-中間圖文區域 */
.swiper-container {
    overflow: hidden;
    margin-top: 24px;
    height: 450px;
    position: relative;
}

.activity_main img {
    width: 400px;
    border-radius: 10px;
}

.activity_main h3 {
    margin-top: 8px;
    color: #634F45;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.activity_main p {
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.activity_main a {
    color: #634F45;
    font-size: 14px;
    display: block;
    width: 45px;
    height: 28px;
    background-color: #F0F0F0;
    text-align: center;
    line-height: 28px;
    padding: 2px 5px;
    border-radius: 8px;
    position: absolute;
    top: 82%;
    right: 0;
}

.activity_main a:hover {
    color: white;
    background-color: #B1B1B1;
}

/* 左右移動箭頭 */


/* 往右 */
.swiper-button-next {
    color: #B1B1B1;
    position: absolute;
    right: 10px;
    top: 30%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    --swiper-navigation-size: 14px;
    font-weight: bold;
}

.swiper-button-next:hover {
    color: white;
    background-color: #B1B1B1;
}

/* 往左 */
.swiper-button-prev {
    color: #B1B1B1;
    position: absolute;
    left: 10px;
    top: 30%;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    --swiper-navigation-size: 14px;
    font-weight: bold;
}

.swiper-button-prev:hover {
    color: white;
    background-color: #B1B1B1;
}

/* ---------Banner*2----------- */
.banner {
    margin-bottom: 64px;
}

.banner img {
    border-radius: 10px;
}

.ban {
    margin: 0 auto 36px auto;
    width: 1100px;
    position: relative;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: white;
    text-align: center;
    transition: opacity .6s ease-in-out;
}

.banner h2 {
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ban:hover .overlay {
    opacity: 1;
}

/* -----------------------RWD----------------------- */

@media screen and (max-width: 1150px) {
    /* 首圖動畫 */
    .kv {
        max-width: 1000px;
        padding-bottom: 110px;
    }

    .kv h1 {
        font-size: 50px;
        letter-spacing: 7px;
        margin-bottom: 10px;
    }

    .kv h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .kv h3 {
        font-size: 50px;
        letter-spacing: 10px;
    }

    /* 最新消息 */
    .news {
        max-width: 1000px;
    }

    .news_main img {
        margin-left: 10px;
    }

    .news_text {
        margin-left: 35px;
    }

    .news_text a {
        top: 68%;
    }

    /* 活動資訊 */
    .activity {
        max-width: 1000px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 360px;
    }

    .activity h3 {
        line-height: 1.4;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 28%;
    }

    /* banner */
    .ban,
    .ban img {
        max-width: 1000px;
    }

    .overlay {
        opacity: 1;
    }

    .banner h2 {
        margin-top: 140px;
    }
}

@media screen and (max-width: 1000px) {
    /* 首圖動畫 */
    .kv {
        max-width: 850px;
        padding-bottom: 90px;
    }

    .kv .imgL {
        width: 300px;
        left: 0;
    }

    .kv .imgR {
        width: 350px;
        right: 1%;
    }

    /* 最新消息 */
    .news {
        max-width: 850px;
    }

    .news_main img {
        margin-left: 10px;
        width: 300px;
    }

    .news_text {
        margin-left: 30px;
    }

    .news_text h3 {
        margin-bottom: 20px;
    }

    .news_text p {
        width: 450px;
    }

    .news_text a {
        top: 72%;
    }

    .swiper {
        height: 320px;
    }

    /* 活動資訊 */
    .activity {
        max-width: 850px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 310px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 25%;
    }

    /* banner */
    .ban,
    .ban img {
        max-width: 850px;
    }

    .banner h2 {
        margin-top: 120px;
    }
}

@media screen and (max-width: 900px) {
    /* 首圖動畫 */
    .kv {
        max-width: 700px;
        padding-bottom: 80px;
    }

    .kv .imgL {
        width: 240px;
    }

    .kv .imgR {
        width: 280px;
    }

    .kv h1 {
        font-size: 38px;
    }

    .kv h2 {
        font-size: 20px;
    }

    .kv h3 {
        font-size: 38px;
    }

    /* 最新消息 */
    .news {
        max-width: 700px;
    }

    .news_main img {
        margin-left: 8px;
        width: 250px;
    }

    .news_text {
        margin-left: 16px;
        margin-right: 10px;
    }

    .news_text h3 {
        margin-bottom: 18px;
    }

    .news_text p {
        width: 400px;
    }

    .news_text a {
        top: 76%;
    }

    .swiper {
        height: 330px;
    }

    /* 活動資訊 */
    .activity {
        max-width: 700px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 250px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 20%;
    }

    /* banner */
    .ban,
    .ban img {
        max-width: 700px;
    }

    .banner h2 {
        margin-top: 90px;
    }
}

@media screen and (max-width: 845px) {
    /* 活動資訊箭頭 */
    .swiper-button-next,
    .swiper-button-prev {
        z-index: 1;
    }
}


@media screen and (max-width: 750px) {
    /* 首圖動畫 */
    .kv {
        max-width: 550px;
    }

    .kv .imgL {
        width: 290px;
        top: -20px;
    }

    .kv .imgR {
        display: none;
    }

    .kv h1 {
        font-size: 38px;
        text-align: right;
        margin-right: 10px;
    }

    .kv h2 {
        font-size: 22px;
        text-align: right;
        margin-right: 20px;
    }

    .kv h3 {
        font-size: 38px;
        text-align: right;
        margin-right: 10px;
    }

    /* 最新消息 */
    .news {
        max-width: 550px;
    }

    .news_main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .news_main img {
        width: 400px;
        margin-left: 0;
    }

    .news_text {
        margin-top: 24px;
    }

    .news_text h3 {
        margin-bottom: 18px;
    }

    .news_text p {
        width: 400px;
    }

    .news_text a {
        top: 260px;
        right: 0%;
    }

    .swiper {
        height: 650px;
    }

    /* 活動資訊 */
    .activity {
        max-width: 550px;
        z-index: -1;
    }

    .swiper-container {
        height: 400px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 200px;
    }

    .activity_main a {
        top: 85%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 17%;
    }

    /* banner */
    .ban,
    .ban img {
        max-width: 550px;
    }

    .banner h2 {
        margin-top: 70px;
        font-size: 16px;
    }
}

@media screen and (max-width: 580px) {
    /* 首圖動畫 */
    .kv {
        max-width: 430px;
        padding-bottom: 45px;
    }

    .kv .imgL {
        width: 200px;
        top: -25px;
    }

    @keyframes imgL {
        0% {
            transform: translateY(0)
        }

        50% {
            transform: translateY(10px)
        }

        100% {
            transform: translateY(0)
        }
    }

    .kv_text {
        padding-top: 15px;
    }

    .kv h1 {
        font-size: 32px;
    }

    .kv h2 {
        font-size: 18px;
    }

    .kv h3 {
        font-size: 32px;
    }

    /* 最新消息 */
    .news {
        max-width: 430px;
    }

    .news_main img {
        width: 370px;
    }

    .news_text p {
        width: 370px;
    }

    /* 活動資訊 */
    .activity {
        max-width: 430px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 200px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 16%;
    }

    /* banner */
    .banner {
        margin-bottom: 40px;
    }

    .ban,
    .ban img {
        max-width: 430px;
    }

    .banner h2 {
        margin-top: 55px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    /* 首圖動畫 */
    .kv {
        max-width: 365px;
        padding-bottom: 30px;
    }

    .kv .imgL {
        width: 160px;
        top: -15px;
    }

    .kv_text {
        padding-top: 10px;
    }

    /* 最新消息 */
    .news {
        max-width: 365px;
    }

    .news_main img {
        width: 310px;
    }

    .news_text p {
        width: 310px;
    }

    .news_text a {
        top: 100%;
    }

    /* 活動資訊 */
    .activity {
        max-width: 365px;
        padding-bottom: 20px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 170px;
    }

    .activity_main a {
        top: 90%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 13%;
    }

    /* banner */
    .ban,
    .ban img {
        max-width: 365px;
    }

    .banner h2 {
        margin-top: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width: 376px) {
    /* 首圖動畫 */
    .kv {
        max-width: 340px;
        padding-bottom: 20px;
    }

    .kv .imgL {
        width: 145px;
        top: -5px;
    }

    /* 最新消息 */
    .news {
        max-width: 340px;
    }

    .news_main img {
        width: 300px;
    }

    .news_text p {
        width: 300px;
    }

    .news_text a {
        top: 100%;
    }

    /* 活動資訊 */
    .activity_top_text {
        padding-top: 14px;
    }

    .activity {
        max-width: 340px;
        padding-bottom: 20px;
    }

    .swiper-container {
        height: 420px;
    }

    .activity_main img,
    .activity_main h3,
    .activity_main p {
        width: 160px;
    }

    .activity_main a {
        top: 90%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 12%;
    }

    /* banner */
    .ban,
    .ban img {
        max-width: 340px;
    }

    .banner h2 {
        margin-top: 44px;
        font-size: 14px;
    }
}