/* -------------Main------------ */
main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

main .bgi1 {
    background-image: url(../img/studybgi1.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 90px;
    position: absolute;
    top: -50px;
    left: 3.5%;
    z-index: -1;
}

main .bgi2 {
    background-image: url(../img/studybgi2.svg);
    background-repeat: no-repeat;
    width: 210px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 10%;
    z-index: -1;
}

/* 下拉選單 */
.custom-select {
    border: none;
    position: absolute;
    right: 10%;
    top: -50px;
    padding: 8px;
    border-radius: 6px;
    background-color: #F0F0F0;
    font-size: 14px;
    width: 60px;
    cursor: pointer;
    outline: none;
}

.custom-select:hover {
    background-color: #E6E2DB;
}

.custom-select option:checked {
    background-color: white;
}

/* 表格 */
table {
    width: 80%;
    margin: 72px auto 40px auto;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

th {
    padding: 10px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: #E6E2DB;
    color: #634F45;
}

tbody tr {
    text-align: center;
    cursor: pointer;
}

tr:hover {
    color: #8F7963;
}

td {
    padding: 12px 0;
    border-bottom: 1px solid #D2D2D2;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 14px;
}

table th:first-child {
    width: 40px;
}

table th:last-child {
    width: 90px;
}

table td:nth-child(2) {
    text-align: left;
}

table thead th:first-child {
    border-radius: 10px 0 0 0;
}

table thead th:last-child {
    border-radius: 0 10px 0 0;
}

table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/* 頁數 */

.bottom {
    display: flex;
    margin-bottom: 56px;
}

.bottom>h4 {
    flex-grow: 1;
    margin-left: 10%;
}

.page {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

.page a {
    padding: 0 10px;
    color: #B1B1B1;
}

.page a:first-child,
.page a:nth-child(2),
.page a:last-child {
    color: black;
}

.page a:hover {
    color: #8F7963;
}

/* -----------------------RWD----------------------- */
@media screen and (max-width: 540px){
    /* 頁數 */
    .page a{
        display: none;
    }
    .page a:first-child, .page a:last-child{
        display: block; 
    } 
}