/* -------------Main------------ */
.hidden-content {
    display: none;

}
.moved {
    margin-bottom: 110px;
}

.hidden-content p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: justify;
    max-width: 340px;
}

main {
    margin: 0 auto;
    background-image: url(../img/bat_profile_bgi.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 64px auto 0 auto;
    text-align: center;
}

main ul li {
    flex-basis: 250px;
    height: 220px;
    margin: 0 50px 100px 50px;
    cursor: pointer;
    flex-grow: 1;
}

main img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 28px auto;
}

main ul li h4 {
    color: #634F45;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main ul li:hover h4 {
    color: #8F7963;
}

/* 燈箱 */
button {
    cursor: pointer;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
}

.none {
    display: none;
}

article {
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(84, 84, 84);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 40px;
}

article img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    margin: auto 0;
}

.article_text {
    margin-left: 50px;
}

.article_text h2 {
    color: #634F45;
}

.article_text p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 24px;
    width: 260px;
    text-align: justify;
}

article i {
    font-size: 20px;
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
    padding: 15px;
}

article i:hover {
    color: #8F7963;
}

.lbbgi {
    background-image: url(../img/studybgi2.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 160px;
    position: absolute;
    right: 5%;
    bottom: 7%;
    z-index: -1;
}

/* -----------------------RWD----------------------- */

@media screen and (max-width: 1150px) {
    /* main */
    main ul {
        max-width: 1000px;
    }

    main ul li {
        margin: 0 40px 100px 40px;
        height: 210px;
    }
}

@media screen and (max-width: 1000px) {
    /* main */
    main {
        background-image: none;
        margin-bottom: 0;
    }

    main ul {
        max-width: 850px;
    }

    main ul li {
        margin: 0 auto 100px auto;
    }
}

@media screen and (max-width: 900px) {
    /* main */
    main ul {
        max-width: 700px;
    }

    main ul li:last-child {
        flex-grow: 0;
        margin: 0 0 80px 50px;
    }
}

@media screen and (max-width: 750px) {
    /* main */
    main {
        background-image: none;
    }

    main ul {
        max-width: 550px;
    }

    main ul li {
        height: 200px;
    }

    main ul li:last-child {
        margin: 0 0 80px 10px;
    }

    /* 燈箱 */
    article {
        max-width: 440px;
    }

    article img {
        width: 200px;
        height: 200px;
    }

    .article_text {
        margin-left: 30px;
    }

    .article_text p {
        width: 200px;
    }

}

@media screen and (max-width: 580px) {
    /* main */
    main ul {
        max-width: 430px;
    }

    main ul li {
        flex-basis: 200px;
        height: 190px;
        margin-bottom: 80px;
    }

    main ul li:last-child {
        margin: 0 0 80px 8px;
    }

    /* 燈箱 */
    article {
        max-width: 350px;
        padding: 30px;
    }

    article img {
        width: 180px;
        height: 180px;
    }

    .article_text {
        margin-left: 20px;
    }

    .article_text p {
        width: 160px;
    }

    .lbbgi {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    /* main */
    main ul {
        max-width: 365px;
    }

    main ul li {
        margin: 0 0 70px 0;
        height: 180px;
    }

    main ul li:last-child {
        margin: 0 auto 80px auto;
        flex-grow: 1;
    }

    /* 燈箱 */
    #lightbox {
        display: none;
    }

    .pop_up {
        transition: .5s;
    }
}

@media screen and (max-width: 376px) {
    /* main */
    main ul {
        max-width: 340px;
        margin-top: 44px;
    }
}


