/* -------------Main------------ */
main{
    display: flex;
    max-width: 1440px;
    margin: 0 auto 40px auto;
}

/* 側邊欄位 */
aside{
    flex-basis: 26%;
    margin: 50px 0 0 50px;
    line-height: 1.8;
    padding-left: 10px;
}

aside h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #B1B1B1;
}

aside a:first-child h4{
    color: #634F45;
    font-weight: bold;
}

aside h4:hover{
    color: #8F7963;
}

/* 商品主要區域 */
main ul{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
}

main ul li{
    flex-basis: 255px;
    height: 325px;
    margin: 0 25px 40px 25px;
}
main img{
    width: 255px;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 12px auto;
}

main ul li h4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

main ul li p{
    color: #634F45;
    font-size: 16px;
    margin-top: 12px;
}

main ul li:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

main ul li:hover h4{
    color: #634F45;
}

main ul li:hover p{
    color: #8F7963;
}

/* 下方分頁碼 */

.page{
    display: flex;
    justify-content: right;
    margin-right: 50%;
}

.page a{
    padding: 0 10px;
    color: black;
}

.page a:nth-child(3), .page a:nth-child(4){
    color: #B1B1B1;
}

.page a:hover{
    color: #8F7963;
}
