@import url('reset.css');

body {
    background-color: white;
    position: relative;
}

a {
    text-decoration: none;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

h2 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 18px;
}

h4 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
}

p {
    font-size: 14px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

img {
    display: block;
}

/* 上方固定列 */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
    height: 80px;
    background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .7) 100%);
    position: fixed;
    left: 0;
    top: 0;
}

header ul {
    display: flex;
    align-items: center;
    padding-left: 70px;
    height: 80px;
}

header li {
    line-height: 80px;
}

header li a {
    text-align: center;
    color: #634F45;
    font-size: 16px;
    padding: 10px 30px;
    position: relative;
}

header img {
    width: 80px;
}

/* 子選單 */
header ol {
    position: absolute;
    top: 80px;
    display: none;
}

header ol li a {
    display: block;
    width: 90px;
    height: 35px;
    background-color: #E6E2DB;
    font-size: 14px;
    padding: 0 10px;
    margin: 0 6px;
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.last_a {
    border-radius: 0 0 10px 10px;
}

/* 會員&購物車圖示 */
header .member {
    padding-left: 30px;
}

header .member li a {
    padding: 10px;
}

/* hover效果 */

ul>li>a:hover {
    color: #8F7963;
}

ul>li:hover ol {
    display: block;
}

ol li a:hover {
    background-color: #F0F0F0;
    color: #8F7963;
}

/* ------------top------------- */
.top {
    display: flex;
    margin: 40px auto 20px auto;
    padding-top: 40px;
    max-width: 1100px;
    height: 72px;
    line-height: 72px;
    border-bottom: 1px solid #B1B1B1;
}

.top img {
    width: 30px;
    margin-left: 34px;
}

.top h2 {
    margin-left: 4px;
}

/* -------------Main------------ */

main .bgi1 {
    background-image: url(../img/studybgi1.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 90px;
    position: absolute;
    top: 125px;
    left: 3.5%;
    z-index: -1;
}

main .bgi2 {
    background-image: url(../img/studybgi2.svg);
    background-repeat: no-repeat;
    width: 210px;
    height: 150px;
    position: absolute;
    bottom: 300px;
    right: 10%;
    z-index: -1;
}

/* 下拉選單 */
.custom-select {
    border: none;
    position: absolute;
    right: 10%;
    top: 135px;
    padding: 8px;
    border-radius: 6px;
    background-color: #F0F0F0;
    font-size: 14px;
    width: 60px;
    cursor: pointer;
    outline: none;
}

.custom-select:hover {
    background-color: #E6E2DB;
}

.custom-select option:checked {
    background-color: white;
}

/* 表格 */
table {
    width: 80%;
    margin: 72px auto 40px auto;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

th {
    padding: 10px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: #E6E2DB;
    color: #634F45;
}

tbody tr{
    text-align: center;
    cursor: pointer;
}

tr:hover {
    color: #8F7963;
}

td {
    padding: 12px 0;
    border-bottom: 1px solid #D2D2D2;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 14px;
}

table th:first-child {
    width: 40px;
}

table th:last-child {
    width: 90px;
}

table td:nth-child(2) {
    text-align: left;
}

table thead th:first-child {
    border-radius: 10px 0 0 0;
}

table thead th:last-child {
    border-radius: 0 10px 0 0;
}

table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/* 頁數 */

.bottom {
    display: flex;
    margin-bottom: 56px;
}

.bottom>h4 {
    margin-left: 10%;
}

.page {
    display: flex;
    margin-left: 20%;
}

.page a {
    padding: 0 10px;
    color: #B1B1B1;
}

.page a:first-child,
.page a:nth-child(2),
.page a:last-child {
    color: black;
}

.page a:hover {
    color: #8F7963;
}

/* 回到頁首符號 */

.fa-angle-up {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    right: 20px;
    top: 90%;
    background-color: #D2D2D2;
    color: white;
}

.fa-angle-up:hover {
    background-color: #8F7963;
}

/* ------------footer------------- */

footer {
    width: 100%;
    background-color: #B1B1B1;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 24px;
}

.footer img {
    width: 150px;
}

.footer i {
    font-size: 50px;
    color: #634F45;
}

.footer i:hover {
    color: #8F7963;
}

.footer a {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

.footer_text {
    margin: 20px 190px 0 150px;
}

.footer h3 {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer h4 {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}