/* ------------main------------- */

main {
    display: flex;
    justify-content: center;
    margin: 80px auto 80px auto;
}

main img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 60px;
}

.login_input {
    margin-right: 60px;
    margin-top: 45px;
    position: relative;
}

.login_input h3 {
    margin-bottom: 12px;
}

input {
    border: 0;
    background-color: #E6E2DB;
    width: 370px;
    height: 42px;
    border-radius: 10px;
    margin-bottom: 36px;
    font-size: 16px;
    padding-left: 12px;
}

input:focus {
    outline: 2px solid #634F45;
}

input::placeholder {
    color: #B1B1B1;
}

/* 登入按鈕 */

input[type="submit"] {
    display: block;
    width: 145px;
    height: 45px;
    line-height: 45px;
    background-color: #634F45;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 56px auto 36px auto;
    cursor: pointer;
    padding: 0;
}

input[type="submit"]:hover {
    background-color: #8F7963;
}

/* 忘記密碼 */
.login_input input[type="password"]+p a {
    color: #B1B1B1;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    bottom: 48%;
}

.login_input input+p a:hover {
    color: #8F7963;
}

/* 歡迎註冊會員 */
.login_input input[type="submit"]+p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login_input input[type="submit"]+p a {
    text-decoration: underline;
    color: #634F45;
}

.login_input input[type="submit"]+p a:hover {
    color: #8F7963;
}

/* -----------------------RWD----------------------- */

@media screen and (max-width: 1150px) {

    /* main */
    main img {
        width: 420px;
        height: 420px;
        margin-left: 50px;
    }

    .login_input {
        margin-right: 40px;
        margin-top: 35px;
    }

    input[type="submit"] {
        margin: 56px auto 30px auto;
    }

    .login_input input[type="password"]+p a {
        bottom: 45%;
        right: 2px;
    }
}

@media screen and (max-width: 1000px) {

    /* main */
    main img {
        width: 400px;
        height: 400px;
        margin-left: 40px;
    }

    .login_input {
        margin-right: 20px;
        margin-top: 25px;
    }

    input[type="submit"] {
        margin: 56px auto 24px auto;
    }

    .login_input input[type="password"]+p a {
        bottom: 43%;
    }
}

@media screen and (max-width: 900px) {

    /* main */
    main img {
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }

    .login_input {
        margin-right: 10px;
        margin-top: 0;
    }

    input {
        width: 320px;
        margin-bottom: 30px;
        padding-left: 12px;
    }

    input[type="submit"] {
        margin: 16px auto 16px auto;
    }

    .login_input input[type="password"]+p a {
        bottom: 33%;
    }
}

@media screen and (max-width: 750px) {

    /* main */
    main {
        flex-direction: column;
        justify-content: start;
        margin: 50px auto 70px auto;
    }

    main img {
        width: 380px;
        height: 220px;
        order: -1;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .login_input {
        margin: 0 auto;
    }

    input {
        width: 370px;
    }
}

@media screen and (max-width: 580px) {

    /* main */
    main img {
        width: 330px;
        height: 200px;
    }

    input {
        width: 320px;
    }
}

@media screen and (max-width: 450px) {

    /* main */
    main {
        margin: 35px auto 50px auto;
    }

    main img {
        width: 300px;
        height: 180px;
    }

    input {
        width: 290px;
    }
}

@media screen and (max-width: 376px) {

    /* main */
    main img {
        width: 280px;
        height: 165px;
    }

    input {
        width: 270px;
    }
}